* {
    box-sizing: border-box;
}
.bg_red{
    background-color: red;
}
.bg_blue{
    background-color: blue;
}
.bg_blueviolet{
    background-color: blueviolet;
}
.d_flex{
    display: flex;
}
.flex_row{
    flex-direction: column;
}
.main{
    column-gap: 10px;
    position: absolute;
    width: 310px;
    height: 310px;
}
.block{
    margin-bottom: 10px;
    margin-left: 10px;
    width: 290px;
    height: 90px;
}
.block:first-child{
    margin-top: 10px;
}
.square{
    margin: 10px;
    width: 70px;
    height: 70px;
}
.item_center{
    margin-left: auto;
    margin-right: auto;
}
.item_right{
    margin-left: auto;
    margin-right: 10;
}
