* {
    box-sizing: border-box;
}

/*---------------------------------*/

.bg_green {
    background-color: green;
}

.bg_purple {
    background-color: purple;
}

.d-flex {
    display: flex;
}

.j-c-right {
    justify-content: flex-end;
}

.j-c-left {
    justify-content: flex-start;
}

.j-c-bet {
    justify-content: space-between;
}

.a-i-end {
    align-items: flex-end;
}

.a-s-start {
    align-self: flex-start;
}

.flex-shrink {
    flex-shrink: 1;
}

.flex-grow {
    flex-grow: 1;
}

.flex-basic-50 {
    flex-basis: 50%;
}

.flex-col {
    flex-direction: column;
}


/*-------------------------------------*/

.root {
    width: 1000px;
    height: 1000px;
    background-color: red;
    padding: 10px;
    row-gap: 10px;
}

header, footer {
    min-height: 50px;
}

main {
    column-gap: 10px;
    max-height: calc(100% - 50px - 50px - 20px);
}

.left-site-bar {
    min-width: 300px;
    overflow-y: auto;
    padding: 10px;
}

.item {
    background-color: orange;
}

.left-site-bar .item {
    min-height: 110px;
}

.left-site-bar .item:not(:last-child) {
    margin-bottom: 10px;
}

.content {
    /*flex-shrink: 1;*/
    overflow-x: auto;
    column-gap: 10px;
    padding: 10px;
}

.content .item {
    min-width: 150px;
}


/*.right {*/
/*    row-gap: 10px;*/
/*}*/

/*.square {*/
/*    width: 50px;*/
/*    height: 50px;*/
/*}*/
