* {
    box-sizing: border-box;
}
.bg_greenyellow{
    background-color: greenyellow;
}
.bg_blue{
    background-color: blue;
}
.bg_blueviolet{
    background-color: blueviolet;
}
.bg_burlywood{
    background-color: burlywood;
}
.bg_red{
    background-color: red;
}
.d_flex{
    display: flex;
}
.main{
    width: 710px;
    height: 710px;
}
.item_center{
    margin-left: auto;
    margin-right: auto;
}
.menu{
    position:relative;
    margin: 10px;
    height: 690px;
    width: 200px;
}
.content{
    position:relative;
    margin-top: 10px;
    width: 480px;
    height: 580px;
}
.footer{
    margin-top: 10px;
    width: 480px;
    height: 100px;
}
.rectangle{
    position: absolute;
    margin: 10px;
    width: 460px;
    height: 100px;
}
.square{
    position:absolute;
    margin: 10px;
    width: 180px;
    height: 180px;
}
.bt_element{
    bottom:0;
}