* {
    box-sizing: border-box;
}

.parent {
    width: 300px;
    min-height: 50px;
    background: red;
    display: flex;
    padding: 20px;
    margin: 0 auto 10px;
    position: relative;
    transition: 1s;
    height: 300px;
    /*overflow: hidden;*/
    /*overflow-y: scroll;*/
    /*overflow-x: hidden;*/
}

.child {

    animation-name: animation-1;
    animation-duration: 0.5s;
    /*animation-delay: 2s;*/

    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    /*animation-fill-mode: ;*/


    /*background-color: red;*/
    background-color: #eeeeee;
    background-image: url(test.png);
    background-repeat: no-repeat;
    background-size: auto 50%;
    background-position: 100% 50%;
    background-origin: border-box;
    background-clip: content-box;
    /*padding: 51px;*/
    border: 20px solid #1d1f669e;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    /* background: yellow; */
    transition: 1s;
    transform-style: preserve-3d;
    transform-origin: bottom right;
    /* transition-delay: 0s; */
    /* transition-duration: 1s; */
    /* transition-property: transform; */
    /* transition-timing-function: cubic-bezier(1,-0.85, 0.32, 1.28); */
    box-sizing: border-box;
}

.child.left {
    left: 0;
    transform-origin: bottom left;
}

.child.right {
    right: 0;
    transform-origin: bottom right;
}

.parent:hover {
    background: orange;
    height: 300px;
}

.parent:hover .child {
    opacity: 0.5;
}

.parent:hover .child.right {
    transform: rotateZ(80deg);
    /*transform: translateX(100%) rotate(45deg);*/

    background: green;
}

.parent:hover .child.left {
    transform: rotateZ(-80deg) rotateY(45deg);
    /*transform: translateX(-100%) rotate(-45deg);*/
    background: green;
}

/*.elements{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    padding: 10px;*/
/*    align-items: center;*/
/*}*/
/*.grow{*/
/*    width: 100px;*/
/*    height: 25px;*/
/*    background-color: burlywood;*/
/*}*/
/*.grow:hover{*/
/*    transform: scaleX(2.5);*/
/*    opacity: 50%;*/
/*}*/

@keyframes animation-1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    /*0% {*/
    /*}*/

    /*1.66% {*/
    /*}*/

    /*98% {*/
    /*}*/

    /*100% {*/
    /*}*/

}
