* {
    box-sizing: border-box;
}
html, body {
    min-height: 100%;
    height: 100%;
    background-color: brown;
}
main {
    background-color: red;
    height: 100%;
}
.side-menu{
    max-height: 75%;
    width: 220px;
    overflow-y: scroll;
    background-color: aqua;
}
.side-menu-block{
    width: 200px;
    height: 100px;
    margin-bottom: 10px;
    background-color: purple;
}
.side-menu-right{
    width: 200px;
    height: 100px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: brown;
}
.side-menu-left{
    width: 1450px;
    height: 100px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: brown;
}
.side-menu-footer{
    width: 200px;
    height: 100px;
    margin-bottom: 10px;
    background-color: darkgreen;
}
.header{
    display: flex;
}
.content{
    position: absolute;
    overflow-x: scroll;
    display: flex;
    right: 250px;
    left: 235px;
    top: 116px;
}
.content-item{

    width: 200px;
    margin-right: 10px;
    height: 800px;
    background-color: burlywood;
}