* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

* {
    background-color: rgba(0, 0, 0, 0.05);
}

.container {
    max-width: 1440px;
    width: 100%;

    margin-left: auto;
    margin-right: auto;

    padding-left: 15px;
    padding-right: 15px;
}

header {
    /*background-color: orange;*/
    margin-bottom: 20px;
}

section {
    /*background-color: greenyellow;*/
    margin-bottom: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.bg-pink {
    /*background-color: pink;*/
}

.block {
    flex: 1 0 auto;
    /*width: 25%;*/

    /*float: left;*/
    padding: 0 15px;
}

.block-25 {
    flex-basis: 25%;
}

.block-50 {
    flex-basis: 50%;
}

.block-33 {
    flex-basis: 33.3333%;
}

.block-75 {
    flex-basis: 75%;
}

.clear::after {
    content: '';
    clear: both;
    display: block;
}
