* {
    box-sizing: border-box;
}

.parent {
    width: 300px;
    min-height: 20px;
    background: red;
    margin: 0 auto 10px;
    position: relative;
    text-align: center;
}

.child {
    background-color: yellow;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    transition: 1s;
}
.child.left {
    left: 0;
}
.child.right {
    right: 0;
}
.parent:hover .child.right {
    transform: translateX(100px);
}

.parent:hover .child.left {
    transform: translateX(-100px);
}

