* {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    height: 100%;
    background-color: brown;
}

body {
    padding: 10px;
    margin: 0;
}

main {
    background-color: blueviolet;
    position: relative;
    height: 100%;
    padding: 10px;
}

.square {
    width: 100px;
    height: 100px;
    background: yellow;
}

.square__bottom--right {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
}

.horizontal__line {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 10px;
    display: flex;
    align-items: center;
}

.horizontal__content {
    margin-right: 5px;
    width: 100px;
    height: 100px;
    background: yellow;
}

.horizontal__content--rectangle {
    margin-right: 5px;
    width: 130px;
    height: 90px;
    /*background: yellow;*/
}

.vertical__line {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
}

.vertical__line .square:not(:last-child) {
    margin-bottom: 10px;
}
