* {
    box-sizing: border-box;
}
.bg_greenyellow{
    background-color: greenyellow;
}
.bg_blue{
    background-color: blue;
}
.bg_blueviolet{
    background-color: blueviolet;
}
.bg_burlywood{
    background-color: burlywood;
}
.bg_red{
    background-color: red;
}
.main{
    position: relative;
    width: 710px;
    height: 710px;
}
.square1{
    position:absolute;
    margin: 10px;
    width: 50px;
    height: 50px;
}
.square2{
    position:absolute;
    margin: 10px;
    width: 630px;
    height: 630px;
}
.square3{
    position:absolute;
    margin: 10px;
    width: 560px;
    height: 560px;
}
.square4{
    position:absolute;
    margin: 10px;
    width: 430px;
    height: 430px;
}
.square5{
    position:absolute;
    margin: 10px;
    width: 180px;
    height: 180px;
}
.right_bottom{
    right: 0;
    bottom: 0;
}
.left_bottom{
    left: 0;
    bottom: 0;
}
.top_right{
    right: 0;
    top: 0;
}
.top_left{
    left: 0;
    top: 0;
}
.item_center{
    margin-left: auto;
    margin-right: auto;
}